*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    padding: 20px;
}

.silent{
    position: absolute;
    width: 4px;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 130px;
    margin-left: -3px;
    background-color: red;
}

.volumeup{
    position: absolute;
    width: 4px;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 175px;
    margin-left: -3px;
    background-color: red;
}

.volumedown{
    position: absolute;
    width: 4px;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 240px;
    margin-left: -3px;
    background-color: red;
}

.powerbutton{
    position: absolute;
    width: 4px;
    height: 80px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 195px;
    margin-left: 307px;
    background-color: red;
}

.firstborder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 600px;
    background-color: red;
    border: 4px solid red;
    border-radius: 50px;
}

.secondborder{
    background-image: url(wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    width: 285px;
    border-radius: 47px;
    border: 7px solid black;
    padding: 0 10px;
}

.topdiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
}

.time{
    font-weight: bold;
    margin-top: 13px;
}

.topnotch{
    margin-left: 30px;
    width: 130px;
    height: 30px;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sideright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    width: 60px;
    height: 30px;
}

.dot{
    margin-top: 10px;
    font-size: 3px;
    color: grey;
}

.battery{
    font-size: 22px;
    margin-left: 3px
}

.section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.weatherbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.weatherdetails{
    border-radius: 20px;
    padding: 10px;
    width: 105px;
    height: 120px;
    background-image: linear-gradient(blue, lightblue);
}

.weather{
    font-size: 14px;
    font-weight: bold;
}

.country{
    font-weight: bold;
    font-size: 18px;
}

.temp{
   font-size: 25px;
}

.sun{
    margin-top: 20px;
}

.cadetails{
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
    width: 105px;
    height: 120px;
    background-color: white;
}

.day{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.date{
    font-size: 25px;
    color: black;
 }

 .events{
     margin-top: 15px;
     color: grey;
 }

 .section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}

.appbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 55px;
    height: 100%;
}

.iconbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: green;
    width: 95%;
    height: 70%;
}

.video{
    font-size: 30px;
}

.apptext{
    font-size: 11px;
    font-weight: bold;
}

.iconbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    height: 70%;
}

.sec2day{
    color: red;
    font-weight: bold;
}

.sec2date{
    color: black;
    font-weight: bold;
}

.iconbox3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(168, 167, 167);
    width: 95%;
    height: 70%;
}

.camera{
    font-size: 35px;
    color: black;
}

.iconbox4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(blue, lightblue);
    width: 95%;
    height: 70%;
}

.cloud{
    font-size: 30px;
    color: white;
}

.iconbox5{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(lightblue, blue);
    width: 95%;
    height: 70%;
}

.mail{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    background-color: red;
    border-radius: 20px;
}

.mail p{
    font-size: 11px;
}

.iconbox6{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    height: 70%;
}

.heart{
    margin-right: 5px;
    font-size: 25px;
    color: red;
}

.iconbox7{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 88, 27);
    width: 95%;
    height: 70%;
}

.dotbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}

.activepage{
    font-size: 10px;
    margin-right: 7px;
}

.page2{
    color: grey;
    font-size: 10px;
}

.bottomsec{
   background-color: rgba(245, 245, 245, 0.555);
   display: flex;
   justify-content: space-between;
   width: 92%;
   height: 50px;
   margin-top: 20px;
   padding: 10px;
   border-radius: 20px;
}

.iconbox8{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: green;
    width: 95%;
    height: 100%;
}

.phone{
    font-size: 30px;
}

.iconbox9{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    height: 100%;
}

.safari{
    font-size: 45px;
    color: rgb(40, 36, 255);
}

.message{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: -10px;
    background-color: red;
    border-radius: 20px;
}

.message p{
    font-size: 11px;
}

.iconbox10{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 37, 37);
    width: 95%;
    height: 100%;
}